<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <form action="#" method="post" th:action="@{/saveUtilisateur}" th:object="${utilisateur}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> <!--  A utiliser systématiquement quand on utilise la méthode POST -->
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label> <br>
          <input type="text" class="form-control" id="nom" name="nom" th:field="*{nom}">
          <p th:if="${#fields.hasErrors('nom')}">Nom error</p>
        </div>

        <br>
        <br>

        <div class="mb-3">
          <label for="prenom" class="form-label">Prenom</label><br>
          <input type="text" class="form-control" id="prenom" name="prenom" th:field="*{prenom}">
        </div>
        
        <br>
        <br>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label><br>
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}">
        </div> 

        <br>
        <br>


        <div class="mb-3">
            <label for="email" class="form-label">Email</label><br>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
        </div>
        
        <br>
        <br>
        
           <div class="mb-3">
            <label for="mdp" class="form-label">Mot de passe (8 caractères minimum)</label><br>
            <input type="password" minlength="8" required class="form-control" id="mdp" name="mdp" th:field="*{mdp}">
            <p th:if="${#fields.hasErrors('mdp')}">Password error</p>
        </div>

    
        <br>
        <br>
        
        <div class="mb-3">
            <label for="telephone" class="form-label">Téléphone</label><br>
            <input type="text" class="form-control" id="telephone" name="telephone" maxlength="10" th:field="*{telephone}">
        </div>

        <br>
        <br>

        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="reset" class="btn btn-primary">Annuler</button>
        
      </form>

</body>
</html>